:root{

}

body{
    margin:0px;
    background-color: #202020;
}

nav{
    display:flex;
    background-color: #2b2b2b;
    height:65px;
}

nav > header{
    width:max-content;
    height:max-content;
    flex-shrink: 0;
    margin:auto 0px auto 15px;
}

nav > header > a{
    color:#FFFFFF;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size:23px;
}
nav > header > a:visited{
    text-decoration: none;
}